<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/@fontsource/iosevka-term@4.5.11/index.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '../style.css' | relative_url }}" />
  </head>
  <body>
    <div class="container">
      <h1>{{ page.title }}</h1>
      <p><em>{{ page.date | date: "%Y-%m-%d" }}</em></p>
      <article class="post-content">{{ content }}</article>
      <div class="top-left-links">
        <a
          href="{{ '/' | relative_url }}"
          class="home-link"
          >home</a
        >
        <a href="{{ '/blog.html' | relative_url }}" class="home-link">blog</a>
      </div>
    </div>
    <script>
      document.body.classList.add("fade-out");

      function fadeInBody() {
        requestAnimationFrame(() => {
          document.body.classList.remove("fade-out");
          document.body.classList.add("fade-in");
        });
      }

      window.addEventListener("DOMContentLoaded", fadeInBody);

      window.addEventListener("pageshow", (event) => {
        if (event.persisted) {
          fadeInBody();
        }
      });

      document.querySelectorAll("a[href]").forEach((link) => {
        const url = new URL(link.href, location.href);
        if (url.origin === location.origin) {
          link.addEventListener("click", (e) => {
            if (url.pathname !== location.pathname) {
              e.preventDefault();
              document.body.classList.remove("fade-in");
              document.body.classList.add("fade-out");
              setTimeout(() => {
                location.href = link.href;
              }, 300);
            }
          });
        }
      });
    </script>
  </body>
</html>
